{{>scriptcss}}
{{>header}}

{{>customizernav}}

<h1>Customizer Home Page</h1>

{{#displaylogout}}
    <a href="/customizerlogin/logout">Logout</a>
{{/displaylogout}}

<h1>{{username}}</h1>

{{>footer}}
