{{>scriptcss}}
{{>header}}

{{>homenav}}

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Login as a Designer</h2>
      <p>New user? <a href="/designersignup">Sign-up</a> as a designer for an account!</p>
      <p>Enter your username and password below to login.</p>
      <p style="color:red;">{{ login_error }}</p>
      <form action="/designerlogin/attemptlogin" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username"> <br /> <br />
        <label for="password">Password:</label>
        <input type="text" name="password"> <br /> <br />
        <input type="submit" value="Login">
      </form> <br />
    </div>
  </div>
</div>

{{>footer}}
