<!--<div class="topnav">
  <a href="/designer" {{#homenav}}class="curnav"{{/homenav}}>Home</a>
  <a href="/designer/messages" {{#membersnav}}class="curnav"{{/membersnav}}>Messages</a>
  <a href="/editors" {{#editorsnav}}class="curnav"{{/editorsnav}}>Orders</a>
  <a href="/designer/explore" {{#articlesnav}}class="curnav"{{/articlesnav}}>Explore</a>
  {{#displaylogin}}
    <a href="/designerlogin" {{#loginnav}}class="curnav"{{/loginnav}}>Login</a>
  {{/displaylogin}}
  {{#displaylogout}}
    <a href="/designerlogin/logout">Logout</a>
  {{/displaylogout}}
</div>-->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item"><a class ="nav-link active"href="/designer">Home</a></li>
      <li class="nav-item"><a  class="nav-link" href="/designer/messages">Messages</a></li>
      <li class="nav-item"><a class="nav-link" href="/designer/orders">Orders</a></li>
      <li class="nav-item"><a class="nav-link" href="/designer/explore">Explore</a></li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item"><a class="nav-link" href="/designerlogin/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Log-out</a></li>
    </ul>
  </div>
</nav>

<!--
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Messages</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Orders</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Explore</button>
  </div>
</nav>
-->