{{>scriptcss}}
{{>header}}
{{>designernav}}
<h2>Explore Page</h2>
<div class="row p-4 justify-content-center">
{{#templates}}
    <div class="card p-2 mb-2 w-50 text-center" >
        <h3 class="card-title">{{templatename}}</h3>
        <span>Designed By: <a href="#" style="text-decoration:none">@{{username}}</a></span>
        <img class="card-image mx-auto d-block" src="{{picture}}" style="width:200px;height:200px;">
        <p class="card-text">{{description}}</p>
        <div class="card-footer position-relative bottom-0 w-100 m-0 p-1">
            <button class="btn btn-light text-primary" id="sendbtn">
                Message Designer
            </button>
            <button class="btn btn-primary text-light" id="sendbtn">
                Customize
            </button>
        </div>
    </div>
{{/templates}}
</div>
{{>footer}}