{{>scriptcss}}
{{>header}}
{{>homenav}}
<div class="text-center row mt-auto justify-content-evenly">
  <div class="card col-4" style="height:300px">
    <h2 class="mt-5 pt-5"><a href="/designerlogin" style="text-decoration:none">Login</a> as Designer</h2>
    <a href="/designersignup" style="text-decoration:none">Sign up</a>
  </div>
  <div class="card col-4" style="height:300px">
    <h2 class="mt-5 pt-5"><a href="/customizerlogin" style="text-decoration:none">Login</a> as Customizer</h2>
    <a href="/customizersignup" style="text-decoration:none">Sign up</a>
  </div>
</div>

{{>footer}}
