{{>header}}

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2><a href="/designerlogin">Login</a> as Designer</h2>
      <a href="/designersignup">Sign up</a>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2><a href="/customizerlogin">Login</a> as Customizer</h2>
      <a href="/customizersignup">Sign up</a>
    </div>
  </div>
</div>

{{>footer}}
