{{>scriptcss}}
{{>header}}
{{#designer}}
    {{>designernav}}
{{/designer}}
{{#customizer}}
    {{>customizernav}}
{{/customizer}}

<h2>Your Messages</h2>
<h5>Inbox Is Empty.</h5>
<div class="container row overflow-auto me-0 pe-0">
    <div class="col me-2">
        {{#conversations}}
            <div class="row inboxmessage p-2 mb-1 border rounded" id="testuser1">
                <div class="col">
                    <img src="/images/button.png">
                </div>
                <div class="col">
                    <span>{{otherUser}}</span>
                </div>
                <div class="col">
                    <span>{{messagetext}}</span>
                </div>
                <div class="col">
                    <span>{{datetime}}</span>
                </div>
                <div class="col">
                    <form action='/designer/messages/chatroom' method='post'>
                        <input type="hidden" name="username" value="{{otherUser}}">
                        <button type="submit" value="{{username}}" id="chatbtn" class="btn btn-primary">Chat</button>
                    </form>
                </div>
            </div>
        {{/conversations}}
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/messages.js"></script>
{{>footer}}